
@{
    ViewBag.Title = "NewMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Müşteri Ekle</h2>
<br />
<br />

<form class="form-group" method="post">

    <label>Müşteri Ad:</label>
    <input type="text" name="MUSTERIAD" placeholder="Müşteri adı girin..." class="form-control" />
    <br />
    <label>Müşteri Soyad:</label>
    <input type="text" name="MUSTERISOYAD" placeholder="Müşteri soyadı girin..." class="form-control" />
    <br />
    <button class="btn btn-primary">Müşteri Ekle</button>

</form>
