@model StokTakipMVC.Modals.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "NewMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Müşteri Ekle</h2>
<br />
<br />

<form class="form-group" method="post">

    <label>Müşteri Ad:</label>
    @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:blue" })
    <br />

    <label>Müşteri Ad:</label>
    @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MUSTERISOYAD, "", new { @style = "color:blue" })
    <br />
    <a href="/Musteri/Index/" class="btn btn-danger">İptal</a>
    <button class="btn btn-primary" id="btn1">Müşteri Ekle</button>
    <script>
        $('#btn1').click(function () {
            alert("Yeni müşteri eklendi...");
        });
    </script>
</form>
