
@{
    ViewBag.Title = "NewKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Kategori Ekle</h2>
<br />
<br />

<form class="form-group" method="post">

        <label>Kategori Ad:</label>
        <input type="text" name="KATEGORIAD" placeholder="Kategori adı girin..." class="form-control" />
  
        <br />
        <button class="btn btn-primary">Kategori Ekle</button>
    
</form>
