@model StokTakipMVC.Modals.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "NewKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Kategori Ekle</h2>
<br />
<br />

<form class="form-group" method="post">

    <label>Kategori Ad:</label>
    @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.KATEGORIAD, "", new { @style = "color:blue" })
    <br />
    <a href="/Kategori/Index/" class="btn btn-danger">İptal</a>

    <button class="btn btn-primary">Kategori Ekle</button>

</form>
